<section class="advantages-section">
    <h2 class="visually-hidden">OUR ADVANTAGES</h2>
    <div class="container">
        <ul class="advantage list">
            <li class="advantage__item advantage__item_icon-cow">
                <p class="advantage__title">721</p>
                <p class="advantage__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantage__item advantage__item_icon-weight">
                <p class="advantage__title">16kg</p>
                <p class="advantage__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantage__item advantage__item_icon-ice-cream">
                <p class="advantage__title">84</p>
                <p class="advantage__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>