<section class="customer">
  <div class="container customer-container">
    <h2 class="visually-hidden">Відгуки клієнтів</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="customer-review">
            <img
              srcset="
                ./images/client/client-1.jpg    1x,
                ./images/client/client-1@2x.jpg 2x
              "
              src="./images/client/client-1.jpg"
              alt="customer foto"
              class="customer-photo"
            />
            <div class="customer-review-comment">
              <div class="customer-review-line">
                <div class="customer-review-text">
                  I love visiting your cafe. You prepare the most delicious ice
                  cream in Los Angeles! In addition, you have beautiful serving,
                  cozy atmosphere and polite staff.
                </div>
              </div>
            </div>
            <p class="customer-review-author">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customer-review">
            <img
              srcset="
                ./images/client/client-2.jpg    1x,
                ./images/client/client-2@2x.jpg 2x
              "
              src="./images/client/client-2.jpg"
              alt="customer foto"
              class="customer-photo"
            />
            <div class="customer-review-comment">
              <div class="customer-review-line">
                <div class="customer-review-text">
                  I love eating popsicles on a hot day. Yours is always
                  delicious. I recommend your cafe to everyone I know.
                </div>
              </div>
            </div>
            <p class="customer-review-author">Sam, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customer-review">
            <img
              srcset="
                ./images/client/client-3.jpg    1x,
                ./images/client/client-3@2x.jpg 2x
              "
              src="./images/client/client-3.jpg"
              alt="customer foto"
              class="customer-photo"
            />
            <div class="customer-review-comment">
              <div class="customer-review-line">
                <div class="customer-review-text">
                  Ice cream is my passion! I love your chocolate hazelnut ice
                  cream! And I really like the excellent service - always served
                  politely and quickly!
                </div>
              </div>
            </div>
            <p class="customer-review-author">Diana, Chicago</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customer-review">
            <img
              srcset="
                ./images/client/client-4.jpg    1x,
                ./images/client/client-4@2x.jpg 2x
              "
              src="./images/client/client-4.jpg"
              alt="customer foto"
              class="customer-photo"
            />
            <div class="customer-review-comment">
              <div class="customer-review-line">
                <div class="customer-review-text">
                  Every day we come to you with friends after classes in
                  college. We love your ice cream and casual atmosphere!
                </div>
              </div>
            </div>
            <p class="customer-review-author">Bryan, New-York</p>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
