<footer class="footer">
  <div class="container footer-base">
    <div class="footer-main">
      <p class="footer-list__print">homemade ice cream made</p>
      <p class="footer-list__type">with passion</p>
    </div>
    <div class="footer-info">
      <ul class="footer-list-media list">
        <li class="footer-svg">
          <a
            href="https://github.com/"
            class="footer-link"
            aria-label="Git Hub"
          >
            <svg class="footer-list__icons" width="20" height="20">
              <use href="./images/symbol-defs.svg#icon-git-hub"></use>
            </svg>
          </a>
        </li>
        <li class="footer-svg">
          <a
            href="https://telegram.org"
            class="footer-link"
            aria-label="Telegram"
          >
            <svg class="footer-list__icons" width="20" height="20">
              <use href="./images/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-svg">
          <a
            href="https://www.facebook.com"
            class="footer-link"
            aria-label="Facebook"
          >
            <svg class="footer-list__icons" width="9" height="20">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="footer-inform list">
        <li class="footer-phone">
          <p class="footer-phone__print">Feel free to contact&nbsp;</p>
        </li>
        <li class="footer-phone">
          <a href="tel:+610383766284" class="phone"> +61 (0) 383 766 284 </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-end">
    <p class="footer-phone__type curent">
      &#169; 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
