<section class="galery">
  <div class="container">
    <h2 class="visually-hidden">Відгуки клієнтів</h2>
    <div class="swiper swiper__count-3">
      <div class="galery-item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-ice-desk.webp    1x,
              ./images/gallery/gallery-ice-desk@2x.webp 2x,
              ./images/gallery/gallery-ice-desk@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/gallery-ice-desk.jpg    1x,
              ./images/gallery/gallery-ice-desk@2x.jpg 2x,
              ./images/gallery/gallery-ice-desk@3x.jpg 3x
            "
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/gallery-ice-tab.webp    1x,
              ./images/gallery/gallery-ice-tab@2x.webp 2x,
              ./images/gallery/gallery-ice-tab@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/gallery-ice-tab.jpg    1x,
              ./images/gallery/gallery-ice-tab@2x.jpg 2x,
              ./images/gallery/gallery-ice-tab@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/gallery-ice-mob.webp    1x,
              ./images/gallery/gallery-ice-mob@2x.webp 2x,
              ./images/gallery/gallery-ice-mob@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/gallery-ice-mob.jpg    1x,
              ./images/gallery/gallery-ice-mob@2x.jpg 2x,
              ./images/gallery/gallery-ice-mob@3x.jpg 3x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />
          <img
            src="./images/gallery/gallery-ice-mob.jpg"
            alt="gallery-ice"
            class="gallery-img"
          />
        </picture>
      </div>
      <div class="galery-item">
        <picture>
          <source
            srcset="
              ./images/gallery/galery-1-desktop.webp    1x,
              ./images/gallery/galery-1-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/galery-1-desktop.jpg    1x,
              ./images/gallery/galery-1-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/galery-1-tablet.webp    1x,
              ./images/gallery/galery-1-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/galery-1-tablet.jpg    1x,
              ./images/gallery/galery-1-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/galery-1-mobile.webp    1x,
              ./images/gallery/galery-1-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/galery-1-mobile.jpg    1x,
              ./images/gallery/galery-1-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />
          <img
            src="./images/gallery/galery-1-mobile.jpg"
            alt="gallery-ice"
            class="gallery-img"
          />
        </picture>
      </div>
      <div class="galery-item">
        <picture>
          <source
            srcset="
              ./images/gallery/galery-2-desktop.webp    1x,
              ./images/gallery/galery-2-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/galery-2-desktop.jpg    1x,
              ./images/gallery/galery-2-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/galery-2-tablet.webp    1x,
              ./images/gallery/galery-2-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/galery-2-tablet.jpg    1x,
              ./images/gallery/galery-2-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery/galery-2-mobile.webp    1x,
              ./images/gallery/galery-2-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/galery-2-mobile.jpg    1x,
              ./images/gallery/galery-2-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />
          <img
            src="./images/gallery/galery-2-mobile.jpg"
            alt="gallery-ice"
            class="gallery-img"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
