.about {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: var(--background-color);
}

.about__body {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.about__descr {
    position: relative;
    display: flex;
    flex-direction: column;
}

.about__decoration {
    position: relative;
    width: 275px;
    height: 275px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: 330px;
        height: 330px;
    }

    @media screen and (min-width: 1200px) {
        width: 490px;
        height: 490px;
    }

    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 50%;
}

.about__image {
    position: absolute;
    top: 22px;
    width: 275px;
    border-radius: 50%;
    overflow: hidden;

    @media screen and (min-width: 768px) {
            width: 330px;
            height: 330px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 490px;
            height: 490px;
        }
}

.about__subtitle {
    margin-bottom: 12px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    text-align: center;
    text-transform: uppercase;

    color: #FCFCFC;
}

.about__title {
    margin-bottom: 32px;

    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FCFCFC;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 20px;
    margin-top: 62px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        margin-top: 0;
        width: 334px;
    }

    @media screen and (min-width: 1200px) {
        width: 463px;
    }

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 176%;

    letter-spacing: 0.04em;

    color: #FCFCFC;
}

.about__last-block {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}

.about__text-bigger-size {
    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }
}

.about__text-smaller-size {
    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }
}

.about__button {
    max-width: 170px;

    @media screen and (min-width: 768px) {
        position: absolute;
        bottom: -80px;
    }
}